.nav-top {
  background-color: #f4f9fd;
  height: 80px;
  line-height: 80px;
  border-bottom: 1px solid black;
  color: #415667;
}

.nav-bottom {
  height: 80px;
  line-height: 80px;
  color: #415667;
}

.nav-top li {
  display: inline-block;
  height: 18px;
  font-size: 18px;
  line-height: 18px;
  padding: 0 15px;
}

.nav-bottom li {
  display: inline-block;
  height: 18px;
  font-size: 18px;
  line-height: 18px;
  padding: 0 15px;
}

.first-button {
  border: 1px solid #FE775A;
  color: #FE775A;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.second-button {
  background-color: #FE775A;
  color: white;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
}

.nav-top ul:first-child li:first-child {
  border-right: 1px solid black;
  padding-left: 0;
}

.nav-bottom img {
  width: 120px;
}

.jumbotron-content {
  position: relative;
  height: 700px;
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-color: #fff4ef;
}

.jumbotron-content:before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  background-color: #afebe4;
  height: 85px;
  width: 100%;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
}

/* Utility */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}


.container {
  width: 1200px;
  margin: 0 auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear::after {
  content: "";
  clear: both;
  display: table;
}

.w100 {
  min-width: 1200px;
}

.fa-caret-down {
  padding-left: 5px;
}

.fa-search {
  color: #04A5BE;
}

a {
  text-decoration: none;
  color: #415667;
}

/* /Utility */
