* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.main-container {
  width: 1200px;
  border: solid orange;
}

header {
  width: 1200px;
  height: 500px;
  /* border: solid orange; */
}

.header-content {
  width: 1200px;
  border: solid purple;
  background: #F4F9FD;
}

.bkgrd-container {
  width: 100%;
  height: 100%;
}

.bkgrd {
  width: 100%;
  height: 100%;
  background-image: url(../img/jumbotron.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: right 60px;
  /* background-position: bottom -100px; */
}


.logo {

}

nav {
 width: 1000px;
 height: 60px;
 /* border: solid green; */
}

.nav-left-top {
  width: 50%;
  line-height: 60px;
  /* margin-top: 10px; */
}

.nav-right-top {
  width: 30%;
  line-height: 60px;
  /* margin-top: 10px; */
}

.nav-left-bottom{
  width: 30%;
  line-height: 60px;
  /* margin-top: 10px; */
}

.nav-right-bottom {
  width: 50%;
  line-height: 60px;
  /* margin-top: 10px; */
}

.ul-bottom {
  margin-right: 20px;
}

.nav-button {
  color: white;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
}

.btn-style {
  background: #fff;
  border: 1px solid #FE775A;
  padding: 10px 15px;
  color: orange;
}

.nav {
  padding: 10px;
}

li {
  display: inline-block;
  line-height: 60px;
  margin-left: 10px;
}

.jumbotron {
  all: none;
  width: 35%;
  font-size: 20px;
  margin-top: 60px;
  padding-top: 120px;
  border: 1px solid black;
}

.jumbotron:nth-child(2) div{
  /* width: 100%; */
  font-size: 12px;
  padding-bottom: 20px;
  margin: 10px 0;
  /* border: 1px solid black; */
}

.jumbotron-button {
  color: white;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  padding: 15px 35px;
}

.cyan-bar {
  width: 1200px;
  height: 60px;
  border-top: solid black;
  border-bottom: solid black;
  background-color: #AFEBE4;
}


.main-content {
 width: 1200px;
 border-bottom: 1px solid lightgrey;
}



/* utility */

.inline-block{
  display: inline-block;
}

.centered {
  margin: 0 auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.deco-nav {
  text-decoration: none;
  font-size: 15px;
}

.black {
  color: black;
}

.uppercase {
  text-transform: uppercase;
}

.clear::after {
  content: "";
  display: table;
  clear: both;
}

.orange {
  background-color: #FE775A;
}

/* /utility */
