/* header */
.nav-top {
  background-color: #f4f9fd;
  height: 80px;
  line-height: 80px;
  border-bottom: 1px solid black;
}

.nav-bottom {
  height: 80px;
  line-height: 80px;
}

.nav-top li {
  display: inline-block;
  height: 18px;
  font-size: 18px;
  line-height: 18px;
  padding: 0 15px;
}

.nav-bottom li {
  display: inline-block;
  height: 18px;
  font-size: 18px;
  line-height: 18px;
  padding: 0 15px;
}

.first-button {
  border: 1px solid #FE775A;
  color: #FE775A;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.second-button {
  background-color: #FE775A;
  color: white;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
}

.third-button {
  background-color: #FE775A;
  color: white;
  border-radius: 5px;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 12px;
}

.nav-top ul:first-child li:first-child {
  border-right: 1px solid black;
  padding-left: 0;
}

.nav-bottom img {
  width: 120px;
}

.jumbotron-container {
  background-color: #FFF1EE;
  position: relative;
}

.jumbotron-content {
  height: 700px;
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-position: right top;
}

.jumbotron-container::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  background-color: #afebe4;
  height: 85px;
  width: 100%;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
}

.jumbotron-text {
  width: 40%;
  padding-top: 50px;
}

.jumbotron-text h1:first-child{
  font-weight: bolder;
  font-size: 40px;
}

.jumbotron-text p {
  text-align: left;
  padding: 30px 0 ;
}

.jumbotron-text p:nth-child(2){
  font-size: 14px;
}

.jumbotron-text p:nth-child(4){
  font-size: 10px;
}

/* /header */

/* main content */

main {
  background-color: #f4f9fd;
}

.body-container h2:nth-child(2){
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
}

.body-container img:first-child {
 margin: 0 auto;
 text-align: center;
 display: block;
 /* padding-top: 40px; */
}

.body-container h3:nth-child(3){
  width: 70%;
  text-align: center;
  font-size: 12px;
  padding: 40px;
  margin: 0 auto;
}

.cube img{
  padding-top: 40px;
}

.img-container {
  width: 33.33%;
  height: 90%;
  position: relative;
  padding: 40px 0;
}

.img-container img:first-child {
  height: 50%;
  width: 40%;
  margin-top: 15px;
}

.text-container-top {
  font-size: 25px;
  padding-top: 70px;

}

.text-container-top p:nth-child(2) {
  width: 80%;
  font-size: 14px;
  padding: 40px 0;
  text-align: left;
}

.text-container-top p:nth-child(3), .bottom p:nth-child(4) {
  text-align: left;
  position: relative;
  font-size: 14px;
  font-weight: bolder;
  width: 60%;
}

.text-container-top p:nth-child(3)::after {
  content: "";
  position: absolute;
  height: 5px;
  margin-left: 40px;
  top: 4px;
  width: 100%;
  border-bottom: 1px solid black;
}

.text-container-top li {
  display: inline-block;
  height: 18px;
  font-size: 14px;
  line-height: 18px;
  padding: 25px 25px 20px 0;
}

/* card holder */
.card-holder {
  height: 1200px;
}

.card-holder a:nth-child(2), .bottom a {
  padding: 20px 45px;
  font-size: 13px;
  margin-top: 60px;
}

.card-holder .top:first-child:hover {
  box-shadow: 5px 5px 10px 10px lightgrey;
  transition: 0.5s;
}

.card-holder div:first-child{
  width: 60%;
  height: 100%;
}

.card-holder .top:first-child {
  border-radius: 5px;
  width: 100%;
  height: 30%;
  background-color: #fff;
  margin-bottom: 50px;
  box-shadow: 5px 5px 10px lightgrey;
  transition: 0.5s;
}

.card-holder .bottom:nth-child(1n+1) {
  border-radius: 5px;
  width: calc(33.33% - 35px);
  height: 55;
  background-color: #fff;
  box-shadow: 5px 5px 10px lightgrey;
  transition: 0.5s;
}

.card-holder .bottom:nth-child(1n+1):hover {
  box-shadow: 20px 20px 50px lightgrey;
}

.card-holder .bottom:nth-child(3) {
  margin: 0px 50px;
}

.bottom {
  padding: 50px;
}

.bottom img:first-child {
  padding: 0 0 20px;
}

.bottom p:nth-child(1n+1) {
  padding: 40px 0;
}

.bottom h4 {
  font-size: 24px;
}

.bottom h4, p {
  text-align: center;
}

.bottom p:nth-child(4) {
  content: "";
  top: 4px;
  width: 100%;
  text-align: center;
  border-top: 1px solid black;
  font-size: 18px;
}

.bottom li {
  display: block;
  height: 18px;
  /* font-size: 14px; */
  /* line-height: 18px; */
  /* padding: 25px 25px 20px 0; */
}

.bottom ul a:nth-child(4){
  margin-left: 20%;
}
/* card holder */

/* home community */

.home-community {
  background: linear-gradient(45deg,#00a4bd,#00bda5);
  color: white;
  padding: 100px 0;
}

.home-community h3:first-child {
  text-align: center;
  font-size: 32px;
  padding-bottom: 20px;
}

.grid {
  text-align: center;
}

.grid-content {
  margin: 0 auto;
  margin-top: 60px;
  /* margin-top: 25px; */
}

.grid-content div {
  width: 25%;
  padding: 25px;
}

.right {
  border-right: 1px solid white;
}

.bottom-row {
  border-bottom: 1px solid white;
}

.grid p:nth-child(1n+1) {
  font-weight: bolder;
  font-size: 50px;
}

.grid span:nth-child(1n+1) {
  font-weight: lighter;
  font-size: 40px;
  padding-left: 10px;
}
/* /home community */

.customers {
background: #fff;
}

.customers h1 {
  font-size: 40px;
}

.content-wrapper {
  width: 80%;
  margin: 0 auto;
}

.text-wrapper {
  width: 20%;
  padding: 30px 0;
}

.text-wrapper p {
  text-align: left;
  font-size: 12px;
  padding-top: 20px;
  padding-right: 10px;
}

.logo-grid {
  width: 70%;
  padding: 40px 0;
}

.logo-grid div {
  width: 160px;
  display: inline-block;
}

.logo-grid img {
  width: 150px;
  padding: 0 20px;
}

.content-bottom {
  width: 40%;
}

.content-bottom-l {
  padding-right: 50px;
}

.content-bottom-l h2 {
  padding-top: 40px;
}

.content-bottom-l p {
  text-align: left;
  font-size: 12px;
  padding: 50px 0;
}

.content-bottom-r img{
  width: 300px;
  padding-right: 30px;
  /* height: 400px; */
}
/* /main content */

/* footer */

.footer, .footer-languages, .footer-bottom {
  background: #33475B;
  color: white;
}

.footer ul{
  list-style: none;
  padding:0;
  margin:0;
  font-size: 14px;
}

.footer-languages ul {
  border-bottom: 1px solid white;
}

.footer li:first-child {
  padding: 20px 0;
  font-weight: bolder;
}

.footer li:nth-child(1n+2) {
  padding: 10px 100px 10px 0;
}

.footer li:last-child i{
  padding-right: 20px;
  font-size: 20px;
}

.footer-languages {
  text-align: center;
  font-size: 12px;
  padding: 30px;
}

.footer-languages li, .footer-bottom li {
  display: inline-block;
  padding: 10px;
}

.footer-bottom ul {
  list-style: none;
  padding:0;
  margin:0;
  font-size: 12px;
}


.footer-bottom  span:first-child{
  padding-right: 10px;
}

.footer-bottom  span{
  font-size: 12px;
}

.footer-bottom div:last-child {
  padding-bottom: 40px;
}

/* Utility */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #415667;
}

a {
  text-decoration: none;
}

.body-container {
  width: 1200px;
  margin: 0 auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear::after {
  content: "";
  clear: both;
  display: table;
}

.transform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.w100 {
  min-width: 1200px;
}

.fa-caret-down {
  padding-left: 5px;
}

.fa-search {
  color: #04A5BE;
}

.fa-check-circle {
  color: #FE775A;
  padding-right: 10px;
}

.uppercase {
  text-transform: uppercase;
}


/* /Utility */
